.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
  .cardimage {
    /* Limit the image size within the card */
    max-width: 300px;
    max-height: 200px;
    object-fit: cover; /* or 'contain', depending on the desired effect */
  }
  .buttonG{
    display: flex ;
    align-content: space-between;
    width: 100%;
    justify-content: space-between;
    margin:5px

  }
  